cilimber and lorem paragraph
#climbRow {
  height: 2vw;
    overflow: hidden;
  }
  
  #climbLorem {
    padding-left: 15vw;
    padding-top: 5vw;
    padding-right: 10vw;
  }
  #climbH5{
    font-size: 2.7vw;
  }
  #climbLoremP {
    text-align: left;
    font-size: calc(1vw + 1px);
    font-family: "Open Sans", sans-serif;
  }
  
  #climbLoremPic {
    width: 51.2vw;
    background: #000;
  }