#momRow {
  width: 102vw;
  height: 50vw;
  background-image: url("../../assets/images/banner-1.jpg");
  position: relative;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#momH5{
  font-size: 4vw;
}

#momem {
  padding-left: 15vmin;

  padding-top: 15vw;
  padding-bottom: 20vw;
  font-family: "Open Sans", sans-serif;
  color: white;
}

#momButt {
  font-size: 1.5vw;
  padding: 1vw;
  background-color: #FF7218;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
}