#momRow {
  width: 102vw;
  background-image: url("../../assets/images/banner-1.jpg");
  position: relative;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}



#momem {
  padding-left: 15vmin;

  padding-top: 15vw;
  padding-bottom: 20vw;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: calc(1vw + 1px);
}

#momButt {
  padding: 1rem;
  background-color: #FF7218;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: large;
}