#kidRow {
  width: 102vw;

    background-image: url("../../assets/images/banner-2.jpg");
    position: relative;
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  #kidRem {
    padding-left: 55vw;
    padding-right: 15vw;
    padding-top: 15vw;
    padding-bottom: 15vw;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: calc(1vw + 1px);
  }
  
  #kidButt {
    padding: 1rem;
    background-color: #FF7218;
    color: aliceblue;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: large;
  }