#iconRow {
  width: 102vw;
  height: 36vw;

}

#iconLorem {
  padding-left: 15vw;
  padding-top: 5vw;
  padding-right: 10vw;
}

#iconH5 {
  font-size: 3vw;

}

#iconLoremP {
  text-align: left;
  font-size: calc(1.5vw + 1px);

  font-family: "Open Sans", sans-serif;
}

#svgDiv {

  font-size: calc(1.7vmin + 1px);
  align-items: center;
  text-align: center;
  padding-top: 5vmin;

  background: whitesmoke;
}

#svgDiv>div {
  padding: 3vw;
  font-size: 1.5vw;
  width: 60%;
  animation: bigBounce 60s infinite alternate;
}

#lab:hover {
  opacity: .7;
  animation: bounce 1s infinite alternate;
}
#ex:hover {
  opacity: .7;
  animation: bounce 1s infinite alternate;
}
#hyg:hover {
  opacity: .7;
  animation: bounce 1s infinite alternate;
}
#ret:hover {
  opacity: .7;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(-.5vw);
  }

  to {
    transform: translateY(.5vw);
  }
}

@keyframes bigBounce {
  from {
    transform: translateY(-3vw);
  }

  to {
    transform: translateY(3vw);
  }
}

.circle {
  border: 0.2px solid purple;
  border-radius: 100px;
}