#svgDiv {
    background: #000;
  }
  
  #iconLorem {
    padding-left: 15vw;
    padding-top: 10vw;
    padding-right: 10vw;
  }
  
  #iconLoremP {
    text-align: left;
    font-size: calc(1vw + 1px);
    font-family: "Open Sans", sans-serif;
  }
  
  #svgDiv {
    align-items: center;
    text-align: center;
    padding-top: 5vmin;
  
    background: whitesmoke;
  }
  
  #svgDiv > div {
    width: 50%;
  }
  
  .circle {
    border: 0.2px solid purple;
    border-radius: 100px;
  }
